* {
  margin: 0;
  padding: 0; }

body {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif; }

p {
  line-height: 25px; }

nav {
  height: 10vh;
  background-color: #333;
  display: flex;
  justify-content: space-around; }
  nav .logo {
    padding-top: 30px;
    color: white; }
  nav .nav-bar ul {
    color: white;
    padding-top: 30px; }
    nav .nav-bar ul li {
      display: inline;
      list-style-type: none;
      padding: 35px; }
      nav .nav-bar ul li:hover {
        font-size: 20px;
        background-color: yellowgreen;
        cursor: grab;
        text-transform: uppercase; }

.hero {
  background: linear-gradient(to right, #7739aa, #143852, #ff009d, green);
  /*border: 1px solid red;*/
  height: 100vh; }
  .hero .box {
    /*border: 1px solid green;*/
    position: relative;
    height: 200px;
    width: 200px;
    background-color: white;
    animation-name: lokendra-animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forward; }
  .hero .container {
    display: flex;
    /*border: 1px solid blue;*/
    height: 100%; }
    .hero .container .welcome {
      padding: 165px 50px; }
      .hero .container .welcome h1 {
        color: white;
        font-size: 50px; }
    .hero .container .info {
      padding: 165px 50px;
      font-size: 20px; }
      .hero .container .info p {
        color: white;
        /*line-height: 25px;*/ }

@keyframes lokendra-animation1 {
  from {
    top: 0px;
    width: 200px; }
  to {
    top: 800px;
    width: 500px;
    background: green; } }

@keyframes lokendra-animation2 {
  0% {
    left: 0;
    top: 0;
    background: white; }
  25% {
    top: 0;
    left: 700px;
    background: lime;
    border-radius: 50% 0 0 0; }
  50% {
    left: 700px;
    top: 700px;
    background: blue;
    border-radius: 50% 50% 0 0;
    background-image: url("/Images/img-4.png");
    background-position: center center;
    object-fit: cover;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat; }
  75% {
    left: 0;
    top: 700px;
    background: purple;
    border-radius: 50% 50% 50% 0;
    background-image: url("/Images/img-5.png");
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  100% {
    left: 0;
    top: 0;
    background: white;
    border-radius: 50%;
    background-image: url("/Images/pic-1.png");
    background-size: cover;
    background-position: center center; } }
